:root {
  --clr-primary: #d7e4e3;
  --clr-primary-tint: #f0f5f4;
  --clr-primary-shade: #a5b1b0;

  /* --clr-secondary: #f5ff80; */
  --clr-secondary: #f9ea65;
  --clr-secondary-shade: #dbce58;

  --clr-text-primary: #000;
  --clr-text-secondary: #808080;

  --clr-black: #000;
  --clr-white: #fff;
  --clr-gray: #666;

  --anim-ease-out-back: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.6;
  color: var(--clr-text-primary);
}

ul {
  font-size: 1rem;
  font-weight: 400;
  list-style-type: none;
  color: var(--clr-text-secondary);
  margin: 10px 0 0;
}

a {
  font-size: 1rem;
  font-weight: 400;
  color: var(--clr-text-primary);
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

h1,
h2,
h3 {
  font-weight: 700;
  line-height: 1;
  color: var(--clr-text-primary);
}

/* Augmented Fourt type scale */
h1 {
  font-size: 3.998rem;
  margin-bottom: 32px;
}

h2 {
  font-size: 2.827rem;
  margin-bottom: 58px;
}

h3 {
  font-size: 1.999rem;
  margin-bottom: 32px;
}

h4 {
  font-size: 1.414rem;
  margin-bottom: 32px;
}

p {
  font-size: 1rem;
  font-weight: 400;
  color: var(--clr-text-secondary);
  margin-bottom: 32px;
}

p.lead {
  font-size: 1.125rem;
  margin-bottom: 32px 0;
}

/* Navbar */
header {
  height: 70px;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 100;
  background: var(--clr-white);
}

.header .container {
  max-width: 1435px;
  position: relative;
}

.logo {
  width: 24px;
  margin-right: auto;
}

nav ul {
  display: flex;
  align-items: center;
  margin: auto 0;
}

nav li {
  display: flex;
}

nav li:first-child {
  display: none;
}

.nav-link {
  padding: 5px 15px;
  margin: 0 5px;
}

.nav-link span {
  position: relative;
  z-index: 1;
  padding: 5px 0;
}

.nav-link span::after {
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  background: currentColor;
  -webkit-transform: scale(0, 0.8);
  transform: scale(0, 0.8);

  -webkit-transform-origin: right;
  transform-origin: right;

  -webkit-transition: -webkit-transform 200ms ease-in;
  transition: transform 200ms ease-in;
}

.nav-link:hover span::after {
  -webkit-transform: scale(1);
  transform: scale(1);

  -webkit-transform-origin: left;
  transform-origin: left;
}

nav .btn {
  margin-left: 25px;
}

.btn-toggle {
  display: none;
}

header .wrapper-fixed {
  height: 45px;
  width: 45px;
  position: absolute;
  top: calc(100vh - 104px);
  right: 50px;
}

.btn-back {
  position: fixed;

  -webkit-transform: translateY(200px);
  transform: translateY(200px);

  -webkit-transition: transform 600ms ease-out;
  transition: transform 600ms ease-out;
}

.btn-back.show {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

/* Showcase */
.showcase {
  height: 100%;
  min-height: 100vh;
  padding: 88px 0;
}

.showcase .container {
  gap: 50px;
}

.showcase-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.showcase p {
  max-width: 410px;
  margin-bottom: 45px;
}

.showcase .btn i {
  font-size: 1rem;
  margin-left: 10px;

  -webkit-transition: -webkit-transform 100ms linear;
  transition: transform 100ms linear;
}

.showcase .btn:hover i {
  -webkit-transform: translateX(5px);
  transform: translateX(5px);
}

.showcase img {
  max-width: 475px;
  justify-self: end;
}

.showcase-bg-sm {
  display: none;
}

/* Skills */
.skills {
  padding: 120px 0;
  background: var(--clr-primary-tint);
}

.skills .container {
  flex-direction: column;
}

.skills h2 {
  text-align: center;
}

.skills .container-cards {
  max-width: 950px;
}

.skills .card {
  min-height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
}

.skills img {
  max-width: 125px;
  margin: 0 auto 25px;
}

.skills h3 {
  padding-bottom: 25px;
  border-bottom: 1px solid var(--clr-primary);
}

/* Work */

.work {
  padding: 120px 0;
  border-bottom: 1px solid var(--clr-primary);
}

.work .container {
  max-width: 1400px;
  flex-direction: column;
}

.work h2 {
  text-align: center;
}

.work .container-projects {
  display: grid;
  grid-template-rows: 1fr;
  gap: 112px;
}

.work .project {
  gap: 64px;
  padding: 24px 0;
}

.work .container-images {
  grid-column: 2;
  grid-row: 1;
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: center;
}

.work .project:nth-of-type(even) .container-images {
  grid-column: 1;
}

.work .container-text {
  grid-column: 1;
  grid-row: 1;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.work .project:nth-of-type(even) .container-text {
  grid-column: 2;
  margin-left: auto;
}

.work p {
  max-width: 450px;
}

.work .container-buttons {
  margin: 8px 0;
}

.work .btn {
  min-width: 120px;
}

/* Other work */
.other-work {
  padding: 120px 0;
}

.other-work .container {
  flex-direction: column;
}

.other-work h2 {
  text-align: center;
}

.other-work .container-projects {
  grid-auto-rows: min-content;
  gap: 16px;
  padding: 24px 0;
  align-items: stretch;
}

.other-work .project {
  min-height: 400px;
  display: flex;
  flex-direction: column;
}

.other-work .project:nth-of-type(1n + 4) {
  display: none;
}

.other-work.show .project {
  display: flex;
}

.other-work h3 {
  font-size: 1.777rem;
}

.other-work .container-buttons {
  margin-top: auto;
}

.other-work .project .btn {
  width: 100%;
}

.other-work .project .btn + .btn {
  margin-left: 0;
  margin-top: 16px;
}

.other-work .btn-link {
  margin-top: 16px;
}

.other-work .btn-link i {
  font-size: 1rem;
  margin-left: 5px;

  -webkit-transition: -webkit-transform 100ms linear;
  transition: transform 100ms linear;
}

.other-work.show .btn-link i {
  -webkit-transform: rotate(180deg) translateX(4px);
  transform: rotate(180deg) translateX(4px);
}

.other-work .btn-link:hover i {
  -webkit-transform: translateX(4px);
  transform: translateX(4px);
}

.other-work.show .btn-link:hover i {
  -webkit-transform: rotate(180deg) translateX(8px);
  transform: rotate(180deg) translateX(8px);
}

.other-work .btn-link span::before {
  content: "Show More";
}

.other-work.show .btn-link span::before {
  content: "";
}

.other-work.show .btn-link span::after {
  content: "Show less";
}

/* Contact */
.contact {
  padding: 120px 0;
  background: var(--clr-primary-tint);
}

.contact .container {
  flex-direction: column;
}

.contact h2 {
  text-align: center;
  margin-bottom: 32px;
}

.contact p {
  text-align: center;
  margin-bottom: 64px;
}

.contact .container-links {
  gap: 200px;
  gap: 15vw;
}

.contact .container-images {
  width: 90%;
  margin-left: auto;
}

.contact-bg-md,
.contact-bg-sm {
  display: none;
}

.contact ul {
  margin-right: auto;
}

.contact li {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 0;
  white-space: nowrap;
}

.contact ul a {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.contact ul a span {
  position: relative;
  z-index: 1;
  padding: 2px 0;
}

.contact ul a span::after {
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  background: currentColor;

  -webkit-transform: scale(0, 0.8);
  transform: scale(0, 0.8);

  -webkit-transform-origin: right;
  transform-origin: right;

  -webkit-transition: -webkit-transform 250ms ease-in;
  transition: transform 250ms ease-in;
}

.contact ul a:hover span::after {
  -webkit-transform: scale(1);
  transform: scale(1);

  -webkit-transform-origin: left;
  transform-origin: left;
}

.contact ul i {
  font-size: 36px;
  color: var(--clr-black);
  margin-right: 24px;
}

/* Footer */

.footer {
  height: 51px;
  background: var(--clr-primary);
}

.footer .container {
  overflow: hidden;
}

.footer span {
  font-size: 0.9rem;
  color: var(--clr-gray);
}

/* Media queries */
@media (max-width: 940px) {
  /* Navbar */
  .header .container {
    padding: 0 30px;
  }

  nav {
    width: 50%;
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    background: var(--clr-white);

    -webkit-box-shadow: none;
    box-shadow: none;

    -webkit-transform: translateX(100%);
    transform: translateX(100%);

    -webkit-transition: -webkit-transform 500ms var(--anim-ease-out-back);
    transition: transform 500ms var(--anim-ease-out-back);
  }

  nav.show {
    -webkit-box-shadow: 0px 40px 60px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 40px 60px rgba(0, 0, 0, 0.15);

    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  nav ul {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: repeat(4, 7fr) 6fr;
    padding: 70px 50px;
  }

  nav li {
    height: 100%;
    display: flex;
    text-align: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid var(--clr-primary);
  }

  nav li:nth-child(4),
  nav li:last-child {
    border-bottom: none;
  }

  nav li:first-child {
    display: flex;
  }

  .nav-link {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 3px;
  }

  nav .btn {
    width: 100%;
    align-self: center;
    margin: 0;
  }

  .btn-back {
    display: none;
  }

  .btn-toggle {
    position: fixed;
    top: 15px;
    right: 30px;
    display: flex;
  }

  /* Showcase */
  .showcase .container {
    grid-template-columns: 1fr;
  }

  .showcase-text {
    grid-row: 2;
    margin: 0 auto;
  }

  .showcase img {
    grid-row: 1;
    max-width: 425px;
    margin: 0 auto;
  }

  .showcase-bg-lg {
    display: none;
  }

  .showcase-bg-sm {
    display: block;
  }


  /* Skills */

  .skills .container-cards {
    max-width: 650px;
    grid-template-columns: 1fr;
  }

  .skills .card {
    min-height: auto;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    text-align: left;
  }

  .skills img {
    max-width: 125px;
    margin: 0 40px 0 0;
  }

  .skills h3 {
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 24px;
  }

  .skills ul {
    display: flex;
    flex-wrap: wrap;
  }

  .skills li {
    margin-right: 20px;
  }

  .skills li:last-child {
    margin-right: 0;
  }

  /* Work */
  .work .container-projects {
    gap: 96px;
  }

  .work .project {
    grid-template-columns: 1fr;
    gap: 48px;
  }

  .work .container-images,
  .work .project:nth-of-type(even) .container-images {
    max-width: 650px;
    grid-column: 1;
    grid-row: 1;
  }

  .work .container-text,
  .work .project:nth-of-type(even) .container-text {
    grid-column: 1;
    grid-row: 2;
    align-items: center;
    text-align: center;
  }

  .work p {
    max-width: 600px;
  }

  /* Other work */
  .other-work .container-projects {
    grid-template-columns: 1fr;
    max-width: 650px;
  }

  .other-work .project {
    min-height: 300px;
  }

  .other-work .project .btn {
    width: auto;
  }

  .other-work .project .btn + .btn {
    margin-left: 10px;
    margin-top: 0;
  }

  /* Contact */

  .contact .container-links {
    gap: 40px;
  }

  .contact .container-images {
    width: 100%;
    max-width: 275px;
    margin: 0 auto;
  }

  .contact-bg-lg {
    display: none;
  }

  .contact-bg-md {
    display: block;
  }

  .contact ul {
    margin: 0 auto;
  }
}

@media (max-width: 540px) {
  /* Perfect fourth type scale */
  h1 {
    font-size: 3.157rem;
  }

  h2 {
    font-size: 2.369rem;
  }

  h3 {
    font-size: 1.777rem;
  }

  h4 {
    font-size: 1.333;
  }

  p.lead {
    font-size: 1.1rem;
  }

  .container {
    padding: 0 30px;
  }

  /* Navbar */
  nav {
    width: 100%;
  }

  /* Showcase */
  .showcase h1 {
    width: 100%;
    text-align: center;
  }

  .showcase .btn {
    width: 100%;
  }

  /* Skills */
  .skills {
    padding: 72px 0;
  }

  .skills .container-cards {
    max-width: 320px;
  }

  .skills .card {
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
    text-align: center;
  }

  .skills img {
    max-width: 125px;
    margin: 0 auto 25px;
  }

  .skills h3 {
    padding-bottom: 25px;
    border-bottom: 1px solid var(--clr-primary);
  }

  .skills ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .skills li {
    margin-right: 0;
  }

  /* Work */
  .work {
    padding: 72px 0;
  }

  .work h2 {
    margin-bottom: 16px;
  }

  .work .container-projects {
    gap: 0;
  }

  .work .project {
    padding: 48px 0;
  }

  .work .project:last-of-type {
    padding-bottom: 0;
  }

  .work .project + .project {
    border-top: 1px solid var(--clr-primary);
  }

  .work .container-text,
  .work .project:nth-of-type(even) .container-text {
    align-items: stretch;
    text-align: left;
    padding: 0 16px;
  }

  .work h3 {
    text-align: center;
  }

  .work .btn {
    width: 100%;
  }

  .work .btn + .btn {
    margin-left: 0;
    margin-top: 16px;
  }

  /* Other-work */
  .other-work {
    padding: 72px 0;
  }

  .other-work .container {
    padding: 16px;
  }

  .other-work h2 {
    margin-bottom: 32px;
  }

  .other-work .container-projects {
    grid-template-columns: 1fr;
  }

  .other-work .project .btn {
    width: 100%;
  }

  .other-work .project .btn + .btn {
    margin-left: 0;
    margin-top: 16px;
  }

  /* Contact */
  .contact {
    padding: 72px 0;
  }

  .contact .container-links {
    grid-template-columns: 1fr;
    gap: 72px;
  }

  .contact .container-images {
    max-width: 350px;
    margin: 0 auto;
  }

  .contact-bg-md {
    display: none;
  }

  .contact-bg-sm {
    display: block;
    grid-row: 2;
  }

  .contact ul {
    grid-row: 1;
  }

  .contact li {
    padding: 8px 0;
  }
}

@media (max-width: 350px) {
  /* Major third type scale */
  h1 {
    font-size: 2.441rem;
  }

  h2 {
    font-size: 1.953rem;
  }

  h3 {
    font-size: 1.563rem;
  }

  h4 {
    font-size: 1.563rem;
  }

  p.lead {
    font-size: 1.08rem;
  }

  /* Skills */

  .skills .container {
    padding: 16px;
  }

  /* Work */
  .work .container-text,
  .work .project:nth-of-type(even) .container-text {
    padding: 0 8px;
  }

  /* Other-work */

  .other-work .container {
    padding: 8px;
  }

  .other-work .card {
    padding: 24px;
  }
}

@media (min-width: 1440px) {
  .showcase {
    min-height: auto;
    padding: 164px;
  }
}