/* Layout */

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 50px;
}

.flex {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;
  gap: 16px;
  justify-content: center;
  align-items: center;
}

.grid-3 {
  grid-template-columns: repeat(3, 1fr);
}

.grid-4 {
  grid-template-columns: repeat(4, 1fr);
}

.card {
  position: relative;
  z-index: 1;
  background-color: var(--clr-white);
  border-radius: 15px;
  padding: 40px;
  margin: 8px;

  -webkit-box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);

  -webkit-transition: -webkit-transform 200ms ease-out;
  transition: transform 200ms;
}

.card:hover {
  -webkit-transform: translateY(-5px) scale(1.01);
  transform: translateY(-5px) scale(1.01);
}

.card::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  border-radius: 15px;
  opacity: 0;

  -webkit-box-shadow: 0px 40px 60px -20px rgba(0, 0, 0, 0.13);
  box-shadow: 0px 40px 60px -20px rgba(0, 0, 0, 0.13);

  -webkit-transition: opacity 200ms ease-out;
  transition: opacity, 200ms ease-out;
}

.card:hover::after {
  opacity: 1;
}

/* Buttons */
.btn {
  display: inline-block;
  position: relative;
  z-index: 1;
  padding: 10px 30px;
  border-radius: 10px;
  text-align: center;
  color: var(--clr-white);
  background: var(--clr-black);
  cursor: pointer;

  -webkit-box-shadow: 0 15px 30px -10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 15px 30px -10px rgba(0, 0, 0, 0.2);
}

.btn::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.15);

  -webkit-transform: scale(0, 0.9);
  transform: scale(0, 0.9);

  -webkit-transform-origin: right;
  transform-origin: right;

  -webkit-transition: -webkit-transform 250ms ease-in;
  transition: transform 250ms ease-in;
}

.btn:hover::after {
  -webkit-transform: scale(1);
  transform: scale(1);

  -webkit-transform-origin: left;
  transform-origin: left;
}

.btn + .btn {
  margin-left: 10px;
}
.btn-secondary {
  background: var(--clr-secondary);
  color: var(--clr-black);

  -webkit-box-shadow: 0 10px 30px rgba(219, 206, 88, 0.25);
  box-shadow: 0 10px 30px rgba(219, 206, 88, 0.25);
}

.btn-secondary::after {
  background: rgba(255, 255, 255, 0.25);
}

.btn-link {
  display: inline-block;
  position: relative;
  z-index: 1;

  padding: 5px 0;
  text-align: center;
  font-weight: 700;
  color: var(--clr-black);
  cursor: pointer;
}

.btn-link::after {
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  background: currentColor;

  -webkit-transform: scale(0, 0.8);
  transform: scale(0, 0.8);

  -webkit-transform-origin: right;
  transform-origin: right;

  -webkit-transition: -webkit-transform 250ms ease-in;
  transition: transform 250ms ease-in;
}

.btn-link:hover::after {
  -webkit-transform: scale(1);
  transform: scale(1);

  -webkit-transform-origin: left;
  transform-origin: left;
}

.btn-lg {
  font-size: 1.125rem;
  padding: 13px 39px;
}

.btn-float {
  min-height: 47.5px;
  min-width: 47.5px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--clr-white);
  background: var(--clr-black);
  border-radius: 50%;
  cursor: pointer;

  -webkit-box-shadow: 0 15px 30px -5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 15px 30px -5px rgba(0, 0, 0, 0.2);
}

.btn-float::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.2);

  -webkit-transform: scale(0, 0.5);
  transform: scale(0, 0.5);

  -webkit-transform-origin: right;
  transform-origin: right;

  -webkit-transition: -webkit-transform 250ms ease-in;
  transition: transform 250ms ease-in;
}

.btn-float:hover::after {
  -webkit-transform: scale(1);
  transform: scale(1);

  -webkit-transform-origin: left;
  transform-origin: left;
}

.btn-back::after {
  -webkit-transform: scale(0.5, 0);
  transform: scale(0.5, 0);

  -webkit-transform-origin: top;
  transform-origin: top;
}

.btn-back:hover::after {
  -webkit-transform-origin: bottom;
  transform-origin: bottom;
}

.hamburger-icon {
  display: block;
  position: relative;
}

.hamburger-icon,
.hamburger-icon::before,
.hamburger-icon::after {
  width: 20px;
  height: 3px;
  border-radius: 1px;
  background: var(--clr-white);

  -webkit-transition: background-color, -webkit-transform,
    500ms var(--anim-ease-out-back);
  transition: background-color, transform, 500ms var(--anim-ease-out-back);
}

.hamburger-icon::before,
.hamburger-icon::after {
  content: "";
  position: absolute;
  left: 0;
}

.hamburger-icon::before {
  bottom: 6px;
}
.hamburger-icon::after {
  top: 6px;
}

.btn-toggle.show .hamburger-icon {
  background-color: transparent;

  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.btn-toggle.show .hamburger-icon::before {
  -webkit-transform: translateY(6px) rotate(-45deg);
  transform: translateY(6px) rotate(-45deg);
}

.btn-toggle.show .hamburger-icon::after {
  -webkit-transform: translateY(-6px) rotate(45deg);
  transform: translateY(-6px) rotate(45deg);
}
